footer{
    display: none;
    height: 284px;
    background: var(--footer-bg-color);
}

@media (min-width:1000px){
    footer{
       display: block;
       margin-top:124px;
    }
    
    .footer-logo{
        align-self: center;
        max-width:180px ;
        path{
            @include setLogoColor();
        }    
    }
    .container{
        display: flex;
        justify-content: space-between;
        margin:0 auto;
        width:80%;
        height: 100%;
        
    }
    .footer-context{
        padding-top:calc(284px / 4);
        display: flex;
        flex-direction: column;
        h2{
            color: var(--primary-text-color);
        }
        a{
            color:var(--secondary-text-color);
            &:first-of-type{
                padding-top:1rem;
            }
        }
        path{
            fill:var(--secondary-text-color);
            
        }
    }
}